    <nav class="navbar1">
        <div id="navbar1div" class="navdiv">
            
            <div class="navleft">
                <div class="logodiv navItems">
                <a href="/shop/profile1"><img class="logo" src="/images/vckartlogo.png" alt=""></a>
                    <a class="explore" href="#">
                        Explore
                        <span class="plus">Plus</span>
                        <img class="plusimg" src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/plus_aef861.png" alt="">
                    </a>
                </div>
    
                <div class="searchdiv navItems">
                    <input class="searchinp" type="text" placeholder="Search for your products, brands and more">
                    <button class="searchbtn"><i class="fa-solid fa-magnifying-glass searchimg"></i></button>
                </div>
            </div>

            <div class="navright">
                <div class="flipkart navItems">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle fs-5 fw-medium border-0 bg-transparent flipkartanchor" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          VcKart
                        </a>
                      
                        <ul class="dropdown-menu flipkartcontent">
                          <li><a class="dropdown-item" href="/shop/profile1">My Profile</a></li>
                          <li><a class="dropdown-item" href="/shop/products">Products</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div>
                </div>
            </div>

        </div>
    </nav>